body {
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
svg {
  display: block;
  width: 100vw;
  height: 100vh;
}

.links line,
.nodes circle,
.labels text {
  transition: opacity 150ms linear;
}
